@use "reset";

.wrapper {
    display: flex;
    position: relative;
    height: 100dvh;
    width: 100dvw;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex: 15;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    flex: 85;
}
