@use "variables";

@keyframes card-hover {
    0% {
        transform: scale(1);
        border: 3.5px solid skyblue;
        filter: drop-shadow(5px 7px 20px rgba(#185c66, 0.75));
    }

    50% {
        transform: scale(1.01);
        border: 3.5px solid skyblue;
        filter: drop-shadow(5px 7px 20px rgba(#185c66, 0.75));
    }

    75% {
        border: 3.5px solid skyblue;
        filter: drop-shadow(5px 7px 5px rgba(#185c66, 0.5));
    }

    100% {
        transform: scale(1);
        border: 3.5px solid white;
    }
}

@keyframes card-unhover {
    0% {
        border: 3px solid white;
    }

    50% {
        border: 3px solid rgba(white, 0.5);
    }

    100% {
        border: 3px solid rgba(white, 0);
    }
}

@keyframes popup {
    0% {
        top: calc(50% - 1px);
        height: 5px;
        width: 50%;
    }

    75% {
        top: calc(50% - 1px);
        height: 5px;
        width: 100%;
        transform: scale(1);
    }

    100% {
        top: calc(50% - (var(--popup-max-height) / 2));
        height: var(--popup-max-height);
        max-height: var(--popup-max-height);
        width: 100%;
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
